[submodule "models/pypsa-eur"]
    path = models/pypsa-eur
    url = https://github.com/PyPSA/pypsa-eur
	branch = master
    release = v2025.04.0

[submodule "models/RESource"]
	path = models/RESource
	url = https://github.com/DeltaE/RESource
	branch = WBR
