# built artefacts
*.egg-info/
/build/
/dist/

# virtual environments
.venv/
/data_scraping/

# data outputs
/data/

# other
*.DS_Store
.snakemake/
./energy_scrapers/__pycache__/
/energy_scrapers/__init__.py
*.py[cod]